
* {
    font-family: monospace;
  }


  html {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 242, 247);
  }
    body {
  
    border: 13px solid rgb(171, 169, 190);
    background-color: rgb(184, 198, 236);
    float: left;
    border-radius: 15px;
    padding:20px;
  }
  
  h3{
    margin-top: auto;
    text-align: center;
    font-size: 25px;

  }

   
   .direita{

   float: right;
   margin-left: 10px;

   }
   
   #mensagem{
       
    margin-left: 55px;
    width: 200px;
    height: 50px;
   }

   button{
    margin-left: 110px;
    
   }

   